project:
  type: website
  render:
    - "*.qmd"
    - "!_resources/"
  preview:
    port: 5550
    browser: false
    watch-inputs: true
    navigate: false

website:
  title: "Developer Development"
  page-navigation: true
  favicon: "icons/devdev-logo-favicon.svg"
  open-graph: true
  site-url: https://www.developerdevelopment.com/
  repo-url: https://github.com/TeamDevDev/www.developerdevelopment.com
  issue-url: https://github.com/TeamDevDev/www.developerdevelopment.com/issues/new
  repo-actions: [source, edit, issue]
  repo-branch: "master"
  search:
    location: navbar
    type: textbox
  reader-mode: false
  back-to-top-navigation: false
  navbar:
    left:
      - href: blog/index.qmd
        text: Blog
      - href: schedule/index.qmd
        text: Schedule
      - href: syllabus/index.qmd
        text: Syllabus

  page-footer:
    left: '<a href="https://github.com/TeamDevDev/www.developerdevelopment.com/graphs/contributors" aria-label="DevDevTeam Maintainers">{{< fa copyright >}} DevDev</a>'
    center: '<a href="#" aria-label="Go to the top of the page">Top {{< fa circle-up >}}</a>'
    right:
      - text: "{{< iconify fa github size=18px >}}"
        href: https://github.com/TeamDevDev/
      - text: "{{< iconify fa github-square size=18px >}}"
        href: https://github.com/TeamDevDev/www.developerdevelopment.com/
      - text: "{{< iconify bi discord size=19px >}}"
        href: https://discord.gg/aNfn8DNEMx
      - text: "{{< iconify bi rss-fill size=18px >}}"
        href: "blog/index.xml"

format:
  html:
    # do not use embed-resources: true because this
    # causes build times to take a very long time
    # and builds will normally crash with an out
    # of memory error from the JavaScript runtime
    embed-resources: false
    mainfont: Noto Sans
    monofont: Noto Sans Mono
    fontsize: 1.375em
    theme:
        - united
        - united-light.scss
    css: styles.css
    toc: true
    toc-title: "Contents"
    code-copy: hover
    code-overflow: wrap
    code-fold: false
    code-tools: false
    highlight-style: gruvbox
    email-obfuscation: javascript
    # note: smooth-scroll must false so as to
    # ensure that the back to top button
    # in the footer of the page works correctly
    smooth-scroll: false
    citations-hover: true
    footnotes-hover: true
    citeproc: true
    appendix-style: default
    # highlight external links in a special fashion
    # and always open them in a new browser window
    link-external-icon: false
    link-external-newwindow: false
    link-external-filter: '^(?:http:|https:)\/\/www\.developerdevelopment\.com\/custom'
