/*-- scss:defaults --*/

// Links {{{

// Base document colors
$link-color: #E64B19;

// }}}

// Colors {{{

// Define the color of the navbar
.navbar-light {
  background-color: #E64B19 !important;
}

// Define the color of the navbar; right
// now even though the theme is light the
// navbar-dark controls the navbar's color
.navbar-dark {
  background-color: #E64B19 !important;
}

// }}}
